<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Recommended -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- for login -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="base.css">
    {% block cssfile %}{% endblock %}
    <!-- swiper js -->


<body>

    <div class="page1">
        <div class="container">
            <div class="top">

                <div class="row1 for-hover">
                    <div class="part1 contacts"><a href="mailto:uutkarsh97@gmail.com"><i
                                class="fa-solid fa-envelope"></i>:demo@gmail.com</a></div>

                    <div class="part-small "><a href="mailto:uutkarsh97@gmail.com"><i
                                class="fa-solid fa-envelope"></i></a>
                    </div>

                    <div class="part2 contacts"><a href="tel:9876543210"><i
                                class="fa-solid fa-phone"></i>:+919876543210</a>
                    </div>

                    <div class="part-small"><a href="tel:9876543210"><i class="fa-solid fa-phone"></i></a></div>

                    <div class="part3">
                        <div class="part1-div"><a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                        <div class="part1-div"><a href="https://instagram.com"><i
                                    class="fa-brands fa-square-instagram"></i></a></div>
                        <div class="part1-div"><a href="https://www.x.com"><i class="fa-brands fa-twitter"></i></a></a>
                        </div>
                    </div>
                </div>
                <div class="row2 for-hover">
                    <div class="col1">
                        <img src="../static/image/img2.jpg" alt="">

                    </div>
                    <div class="col2">
                        <div class="mod"><a href="{% url 'index' %}">Home</a></div>
                        <div class="mod"><a href="{% url 'aboutus' %}">About us</a></div>
                        <div class="mod"><a href="{% url 'admission' %}">Admission</a></div>
                        <div class="mod"><a href="{% url 'news'%}">News</a></div>
                        <div class="mod"><a href="{% url 'gallery' %}">Gallery</a></div>
                        <div class="mod"><a href="{% url 'contactus' %}">Contact Us</a></div>






                    </div>
                    <div class="col3">
                        <a href="#"><i class="fa-solid fa-user profile1"></i></a>
                        <i id="menu" class=" fa-solid fa-bars profile1"></i>

                    </div>

                </div>

            </div>
        </div>
        <div class="hamburger-menu">
            <div class="wrapper">
                <div class="title-text">
                    <div class="title login">Login Form</div>
                    <div class="title signup">Signup Form</div>
                </div>
                <div class="form-container">
                    <div class="slide-controls">
                        <input type="radio" name="slide" id="login" checked>
                        <input type="radio" name="slide" id="signup"=>
                        <label for="login" class="slide login">Login</label>
                        <label for="signup" class="slide signup">Signup</label>
                        <div class="slider-tab"></div>
                    </div>
                    <div class="form-inner">
                        <form method="post" action="{% url 'login' %}" class="login">
                            {% csrf_token %}
                            <div class="field">
                                <input type="text" name="emailaddress" placeholder="Email Address" required>
                            </div>
                            <div class="field">
                                <input type="password" name="userpassword" placeholder="Password" required>
                            </div>
                            <div class="pass-link"><a href="#">Forgot password?</a></div>
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Login">
                            </div>
                            <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
                        </form>
                        <form method="post" class="signup">
                            {% csrf_token %}
                            <div class="field">
                                <input type="text" name="U_name" placeholder="Name" required>
                            </div>
                            <div class="field">
                                <input type="text" name="U_email" placeholder="Email Address" required>
                            </div>
                            <div class="field">
                                <input type="password" name="U_password" placeholder=" password" required>
                            </div>
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Signup">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block content %}{% endblock %}


    <!-- <footer>
        <div class="row1">
            <div class="part1">
                <div class="col1">
                    <h2>about us</h2>
                    <h6>facts</h6>
                    <h6>history</h6>
                    <h6>contact</h6>
                    <h6>management</h6>
                </div>
                <div class="col1">
                    <h2>faculty</h2>
                    <h6>business</h6>
                    <h6>engineering</h6>
                    <h6>law</h6>
                    <h6>Humanities & science</h6>
                </div>
                <div class="col1">
                    <h2>department</h2>
                    <h6>business</h6>
                    <h6>engineering</h6>
                    <h6>Humanities & science</h6>
                    <h6>law</h6>
                </div>
                <div class="col1">
                    <h2>Admission</h2>
                    <h6>graduate</h6>
                    <h6>undergraduate</h6>
                    <h6>financial aid</h6>
                    <h6>phd</h6>
                </div>
                <div class="col1">
                    <h2>updates</h2>
                    <h6>notice</h6>
                    <h6>results</h6>
                    <h6>login</h6>
                    <h6>alumni</h6>
                </div>
            </div>
            <div class="part2">
                <h5 id="appl">applying</h5>
                <h5>scholarship</h5>
                <h5 id="career">career</h5>
            </div>
        </div>
        <div class="row2">
            <div class="part1">
                <div class="img-container">
                    <img src="../static/image/img2.jpg"" alt="">
                        </div>
                    </div>
                    <div class=" part2">
                    <h6>copyright © 2022 xyzcompany</h6>
                    <h6>all rights reserved</h6>
                    <h6 id="privacy">privacy & policy</h6>
                </div>
                <div class="part3">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
    </footer> -->


    <!-- footer section start -->
    <footer id="footer">
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <div class="mycol1 colsize">
                <div class="imgcontainer">
                    <a href="#"><img src="../static/image/img2.jpg" alt=""></a>
                </div>
            </div>
            <div class="mycol2 colsize">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a href="{% url 'index'%}"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="{% url 'aboutus'%}"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                        <li><a href="{% url 'admission'%}"><i class="fa-solid fa-angles-right"></i> Admission</a></li>
                        <li><a href="{% url 'gallery'%}"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
                        <li><a href="{% url 'contactus'%}"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
                    </div>
                </div>

            </div>
            <div class="mycol3 colsize">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="./assets/images/about/home_line.png" alt="">
                    <div class="social-icons">
                        <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="mycol4 colsize">
                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Dhandbad
                            </li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                        <li><a href="mailto:mail@1234567.com"><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
                    </div>
                </div>
            </div>

            <div class="mycol5 colsize">
                <div class="Map">
                    <h2>Map</h2>
                    <div class="mapcontainer">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116814.81420507187!2d86.27852579519273!3d23.802131546541503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f6a30804ccfc6d%3A0xfa151e1b85f764e7!2sDhanbad%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1719854993479!5m2!1sen!2sin"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>

        <!-- </div> -->
        <!-- </div> -->
    

    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <section id="copy-right">
        <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
            All Rights Reserved 2024 Designed By <a href="https://github.com/Uttam-Utkarsh">Uttam Utkarsh</a>


        </div>

    </section>
    <!-- footer copy right section end -->

    {% block forjava %}{% endblock %}
    <script src="/static/login.js"></script>
</body>

</html>