{% extends "base.html" %}

{% block title %}  All Faculty{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="/static/base.css" />
<link rel="stylesheet" href="/static/faculty.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

{% endblock %}


{% block content %}

<div class="main">
    <h2 class="Title">science faculty</h2>
    <div class="row-for-card">
        <div class="cards">
            <h3 class="cards-title">Dept. of Mathematics</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/math/IMG_3786.jpg" alt="">
            </div>
            <div class="content-section">
                <p>The Science faculty of indian College started in the year 1975 and the Department of Mathematics was established in the same year. Bachelor’s degree course in Mathematics Honours started within a few years of inception of the department along with courses in Intermediate class.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">
                Dept. of Chemistry</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/chemistry/IMG_3826.jpg" alt="">
            </div>
            <div class="content-section">
                <p>The Department of Chemistry was established in 1975 with an objective of providing a platform for excellence in academic growth in Science. The Department of Chemistry is a dynamic, growing department with faculty dedicated to providing quality education. The department offers core courses in B.Sc. & M.Sc.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">Dept. of Botany</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/zoology/IMG_0404-min.JPG" alt="">
            </div>
            <div class="content-section">
                <p>In indian College, Ranchi the Department of Botany established in the year of 1975 . With the rapid advances in the field of plant science, it was felt necessary to extend it from Intermediate to Degree Level into full-fledged Department. The Department of Botany started in the Gossner Theological College building .</p>
            </div>
        </div>
        
    </div>

    <div class="row-for-card">
        <div class="cards">
            <h3 class="cards-title">Dept. of Physics</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/images/physics.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Established in 1975, the Department of Physics at indian College, Ranchi, stands as a testament to decades of academic dedication and growth. Under the visionary leadership of its first head, Mr. S.C. Gupta, the department embarked on a journey to impart quality education in the realm of physics.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">Dept. of Zoology</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/zoology/IMG_0404-min.JPG" alt="">
            </div>
            <div class="content-section">
                <p>In indian College, Ranchi the Department of Zoology established in the year of 1975 . With the rapid advances in the field of animal science, it was felt necessary to extend it from Intermediate to Degree Level into full-fledged Department. The Department of Zoology started in the Gossner Theological College building .

                </p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">Dept. of Geology</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/geology/IMG_4040.jpg" alt="">
            </div>
            <div class="content-section">
                <p>The Science faculty of indian College, Ranchi started in the 1975 and Department of Geology established with an objective of providing Geological knowledge of various minerals and fuel resources of Jharkhand to students.

                    Contact</p>
            </div>
        </div>
        
    </div>

    <h2 class="Title">Commerce Faculty</h2>
    <div class="commerce-row">
        <div class="cards">
            <h3 class="cards-title">Faculty of Commerce</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/commerce/IMG_3588.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Department of Commerce is running a Three Years Bachelor Degree Course in Commerce since the establishment of the college with the mission to train and groom students for better employment and entrepreneurship. The teachers who have constituted the strong base of the department from its initial stage were Prof. B. M. Baraik. Dr. S. R. Singh.</p>
            </div>
        </div>
    </div>


    <h2 class="Title">Arts Faculty</h2>
    <div class="row-for-card">
        <div class="cards">
            <h3 class="cards-title">Dept. of Anthropology</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/anthropology/IMG_0406-min.JPG" alt="">
            </div>
            <div class="content-section">
                <p>The Department of Anthropology was established with the establishment year of Gossner College in 1971. According to the history of the college, as we heard, the college was started with 6 subjects and among them one subject was Anthropology. Reverend Dr. Nirmal Minz, the founder of the Gossner College was also an anthropologist.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">
                Dept. of Economics</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/Economics/IMG_4314.jpg" alt="">
            </div>
            <div class="content-section">
                <p>The Department of Economics is one of the constituent departments of Gossner College, Ranchi University, Ranchi. It was established on 1971 and received permanent affiliation from Ranchi University in year 1973, with its then Head S.B Mahto took the responsibility to spread the essence of economics.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">Dept. of English</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/philosphy/IMG_4162.jpg" alt="">
            </div>
            <div class="content-section">
                <p>The Department of English was established in 1971 and it received permanent affiliation for Degree Coursewith Ranchi University in the year 1973. The department has grown from strength to strength over the years and is one of the biggest departments in the college at present.</p>
            </div>
        </div>
        
    </div>
    <div class="row-for-card">
        <div class="cards">
            <h3 class="cards-title">Dept. of Geography</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/geography/IMG_3703.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Gossner College, Ranchi was established in 1971. The Department of Geography received permanent affiliation for Degree Course with Ranchi University, Ranchi in the year 1982.</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">
                Dept. of Hindi</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/hindi/IMG_4294.jpg" alt="">
            </div>
            <div class="content-section">
                <p>1971 ई0 में गोस्सनर कॉलेज के स्थापना के साथ ही महाविद्यालय में हिन्दी भाषा की पढ़ाई प्रारंभ हुई,जिसमें हिन्दी प्राध्यापिका के रूप में श्रीमती सीसीबहा तोपनो की नियुक्ति हुई। कॉलेज के स्थापना के समय से ही हिन्दी विभागाध्यक्ष के पद पर रहीं।1986 में महाविद्यालय के संस्थापक डॉ0 निर्मल मिंज के सेवानिवृत होने के बाद उन्होंने प्रथम महिला प्राचार्या के पद पर अपना योगदान दिया ।</p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">Dept. of History</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/history/IMG_4124.jpg" alt="">
            </div>
            <div class="content-section">
                <p>गोस्सनर कॉलेज, राँची की स्थापना 1 नवंम्बर 1971 ई॰ को गोस्सनर एवंजिलिकल लूथरेन चर्च छोटानागपूर एवं असम, राँची के द्वारा की गई थी। कॉलेज की स्थापना के साथ ही इतिहास विषय की पढ़ाई प्रारंभ हो गई थी। इस समय राँची विश्वविद्यालय, राँची के द्वारा इण्टरमीडिएट की पढ़ाई/परीक्षा संचालित की जाती थी। 1975 ई॰ में पहला बैच डिग्री स्तर की परीक्षा में शामिल हुआ और इसमें इतिहास विषय के विद्यार्थी भी शामिल थे।

                </p>
            </div>
        </div>
        
    </div>

    <h2 class="Title">Vocational Faculty</h2>
    <div class="row-for-card">
        <div class="cards">
            <h3 class="cards-title">Dept. of B.Sc. CA & IT</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/bcait/IMG_0694.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Today we can’t imagine even a single day’s life without computers and information technology (IT). This is one of the most demanding and growing area of opportunity in terms of career and employment. The B.Sc. CA and B.Sc. IT degree provide a strong foundation in various areas of Computer Application/ Information Technology. </p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">
                Dept. of BBA</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/BBA/IMG_3718.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Welcome to the Department of Business Administration at Gossner College Ranchi The Bachelor of Business Administration (BBA) program at Gossner College is designed to equip students with the essential knowledge and skills to become successful professionals in the dynamic and ever-evolving business world. </p>
            </div>
        </div>
        <div class="cards">
            <h3 class="cards-title">
                Dept. of BioTechnology</h3>
            <div class="img-section">
                <img src="https://gcran.org/Content/gossnergallery/masscomm/IMG_3578.jpg" alt="">
            </div>
            <div class="content-section">
                <p>Biotechnology is a interdisciplinary technology that utilizes biological systems, living organism or parts of these to develop or to create different products. It is the “application of the principles of engineering and biological science to create new products from raw materials of biological origin, such as vaccines”.</p>
            </div>
        </div>
        
    </div>

</div>
{% endblock %}