<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/feedback.css">
</head>

<body>
    <main>
        <div class="account-container1">
            <div class="account-img1">
                <img src="https://plus.unsplash.com/premium_photo-1720022609993-472f180738ed?q=80&w=2268&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
            </div>
            <div class="account-form1">
                <h2>FeedBack Form</h2>
                <div class="ourform1">
                    <form method="post" action="#" enctype = multipart/form-data>
                        {% csrf_token %}
                        <div class="form-group1">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group1">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <!-- <div class="form-group1">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" required>
                        </div> -->
                        <div class="form-group1">
                            <label for="Description">Description:</label>
                            <textarea rows="5" cols="50" name="description" id="Description"></textarea>
                        </div>
                        <div class="form-group1">
                            <label for="Pic">Profile Pic:</label>
                            <input type="file" id="Pic" name="Pic" required>
                        </div>
                        <div class="form-group1">
                            <label for="Star">Give Star:</label>
                            <select name="Star" id="Star">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="form-group1">
                            <button type="submit" id="submitbutton1">submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>