<!DOCTYPE html>

{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice</title>
    <link rel="stylesheet" href="../static/fornotice.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
        <form action="#" method="post" id="id_form">
            {% csrf_token %}
            {% comment %} <button type="submit"><a href="{% url 'user_logout'%}"><i class="ri-arrow-go-back-fill"></i>Back</a></button> {% endcomment %}
             <button type="submit"><i class="ri-arrow-go-back-fill"></i>Back</button> 
        </form>
        <div class="content">
            <ul>
                {%for notice in noticedata%}
                    {%if notice.Student_Email == user_email%}
                    <li>
                        <h3>{{notice.Description}}</h3>
                    </li>
                    {%endif%}
                {%endfor%}
               
            </ul>
        </div>
        <main>
            <div class="title">
                <h1>Student Notice Section</h1>
                
            </div>
            <div class="middle">
                <div class="envlop">

                </div>
            </div>
            
        </main>
</body>
</html>