{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block cssfile %}
<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/News.css">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
{% endblock %}
{% block content %}
<main>
    <!---------- News, Event, Notice Board HTML Starts --------->
    <div class="container">
        <div class="main-section">
            <!---------- News Section --------->
            <div class="event">
                <h2 class="heading">Campus News</h2>
                <div>
                    <marquee direction="up" scrollamount="3" style="height:400px;">
                        <ul>
                            {% for data in all_data %}
                            {% if data.category == 'Campus-News'%}
                            <li><i class="ri-quill-pen-fill">{{data.description}}</i></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </marquee>
                </div>
            </div>
            <!---------- Event Section --------->
            <div class="event">
                <h2 class="heading">Events</h2>
                <div>
                    <marquee direction="up" scrollamount="3" style="height:400px;">
                        <ul>
                            {% for data in all_data %}
                            {% if data.category == 'Events'%}
                            <li><i class="ri-quill-pen-fill">{{data.description}}</i></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </marquee>
                </div>
            </div>
            <!---------- Notice Board Section --------->
            <div class="event">
                <h2 class="heading">Notice Boards</h2>
                <div>
                    <marquee direction="up" scrollamount="3" style="height:400px;">
                        <ul>
                            {% for data in all_data %}
                            {% if data.category == 'Notice'%}
                            <li><i class="ri-quill-pen-fill">{{data.description}}</i></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </marquee>
                </div>
            </div>
        </div>
        <!---------- News, Event, Notice Board HTML Ends --------->
</main>
{% endblock %}