*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,body{
    width: 100%;
    }
    
    main{
        height: 100vh;
        width: 100vw;
        background-color: bisque;
        color: black;
    }
    
    .title{
       display: flex;
       gap: 5vw;
       justify-content: center;
       color: black;
    }
    
    .title h1{
        font-size: 6vh;
        margin-top: 5vh;
    }
    
    .middle{
        position: relative;
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        margin-top: 5VH;
    }
        
    .envlop{
    
        width: 50%;
        height: 100%;
            background-image: url("https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Decorative-Elements-PNG/Pink_Envelope_PNG_Clipart.png?m=1629791879");
            background-position: center;
            background-size: cover;
        }
    
    .content{
        position: absolute;
        padding: 3vw;
        left: 33%;
        top: 16%;
        z-index: 10;
        width: 35vw;
        height: 35vh;
    }
    
    li{
        font-size: 3vh;
    }

    #id_form{
        position: absolute;
        width: 7vw;
        height: 6vh;
        z-index: 11;
        background-color: rgb(7, 15, 1);
        border-radius: 20px;
        color: rgb(247, 131, 7);
        display: flex;
        align-items: center;
        justify-content: center;
        left: 46.5vw;
        top: 80vh;
    }

    #id_form button,a{
        border: none;
        background-color: rgb(6, 13, 1);
        text-decoration: none;
        font-size: 1.6vw;
        color: white;
    }
    